<header class="w-full flex justify-between items-center py-3 px-6">
    <img src="{{ asset('images/logo.png') }}" alt="" class="w-[73px] h-[55px]">
    <div class="text-[14px] text-[#90E0EF] flex items-center gap-10">
        <a href="">
            <div class="flex gap-3 items-center">
                <img src="{{ asset('images/add.svg') }}" alt="">
                Publier un trajet
            </div>
        </a>
        <a href="">A propos</a>
    </div>
    <div class="flex flex-col">
        <div id="user_button" class="flex justify-end items-center">
            <img src="{{ asset('images/profile_logo.png') }}" alt="" class="w-[48px] h-[48px]">
            <img src="{{ asset('images/down_arrow.svg') }}" alt="">
        </div>
        <div id="profile_menu" class="hidden">
            <div class="flex flex-col">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_logout') }}" class="text-[14px] text-[#90E0EF]">Se déconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="text-[14px] text-[#90E0EF]">Se connecter</a>
                    <a href="{{ path('app_register') }}" class="text-[14px] text-[#90E0EF]">S'inscrire</a>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            // on click of user button
            $('#user_button').click(function() {
                // toggle the hidden class on the profile menu
                $('#profile_menu').slideDown();
            });
            $(document).click(function(event) {
                if (!$(event.target).closest('#profile_menu').length && !$(event.target).closest('#user_button').length) {
                    $('#profile_menu').slideUp();
                }
            });
        });
    </script>

</header>
